.overlay {
  background-color: transparent;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #000; /* add this line */
  width: 300px; /* adjust this value as needed */
  height: 500px; /* adjust this value as needed */
}


.close-button {
  padding: 5px 10px;
  background-color: #DC3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.open-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}